html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
a {
    text-decoration: none;
    cursor: pointer;
}
* {
    box-sizing: border-box;
}

/*NAVIGACIA*/

nav div a img {
    max-width: 200px;
}

@media only screen and (max-width: 768px) {
    nav div a img {
        max-width: 160px;
    }
    .nav-link {
        font-size: 13px;
    }
}
@media only screen and (max-width: 400px) {
    nav div a img {
        max-width: 130px;
    }
}
.button-primary {
    background-color: #9E6240 !important;
    border: none;
    padding: 10px 30px;
    color: white;
    border-radius: 15px;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.button-primary:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: white;
}
.nav-link {
    color: #000000ad;
    transition: font-weight 0.5s;
    font-size: 16px;
    font-weight: 600;
}
.nav-link:hover {
    color: #000000;
}
.car-pic {
    max-width: 100vw;
    height: 85vh;
    max-height: 570px;
    object-fit: cover;
}
.header {
    position: sticky !important;
}
.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.car-text-div {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 60%;
}
.carousel-title {
    color: white;
    font-size: 4rem;
    font-weight: 600;
}
.carousel-text {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
}
@media only screen and (max-width: 768px) {
    .carousel-title {
        font-size: 2rem;
    }
    .carousel-text {
        font-size: 1rem;
    }
}